<div id="wrapper" class="wrapper-scroll">
    <div class="content">
        
        <div class="section" id="opener">
            <center><br/>
                <img src="{{{data.base_url}}}public/image/brand.png" />
                <h3 class="tagline">Out to save Juliet</h3><br/>
                <img src="{{{data.base_url}}}public/image/romeo.png" />
                <a href="https://play.google.com/store/apps/details?id=com.halftspgames.romeorocket" id="playstore">
                     <img src="{{{data.base_url}}}public/image/playstore.png" />
                </a><br/>
                <a class="twitter-follow-button"
                  href="https://twitter.com/halftspgames"
                  data-show-count="false"
                  data-size="large"
                  data-lang="en">
                    Follow Rocket Romeo
                </a>
            </center>
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    The Dark Dragon has been troubling the residents of Chicken-Land for a long time now. The last time he invaded the town, he couldn't stand the happiness of the cutest couple - <i>Romeo and Juliet</i>. In order to spoil the beauty of Juliet, he tried to hurt her and ended up leaving a scar on her face. The scar is deadly and if it is not healed in time, Juliet will die. 
                </p>
             </div>         
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
Juliet can be saved only by an elixir which is kept in the air-castle of Dark Dragon. Romeo has stolen the elixir from the air-castle and is descending to Chicken-land, which is on the Earth.
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/phone1.png" class="img-screen" />
            </div> 
        </div>

        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    The path downward is full of deadly bridges, dragons and guards. 
                    <b>Help Rocket Romeo in saving Juliet by making him reach Chicken-land safely.</b>
                    You can slow the falling rate by switching on the rocket. 
                    <b>Tap and hold to keep the rocket on.</b>
                    You have to dodge the bridges, dragons and guards on the way downward. 
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/phone2.png" class="img-screen" />
            </div> 
        </div>
            
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    <b>To gain an extra life, collect the eggs on the way.</b>
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/phone3.png" class="img-screen" />
            </div> 
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    <b>IN-APP LEADERBOARD</b><Br/>
The leader board will show your highest score and score of the most recent game.  You can see your global rank and the scores of top 50 players across the world.
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/phone5.png" class="img-screen mobile" />
            </div> 
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    <center>Thank you for your visit.</center>
                    <a href="https://play.google.com/store/apps/details?id=com.halftspgames.romeorocket" id="playstore">
                         <img src="{{{data.base_url}}}public/image/playstore.png" />
                    </a><br/>   
                    <center>
                    Follow us on Twitter.
                    <a class="twitter-follow-button"
                      href="https://twitter.com/halftspgames"
                      data-show-count="false"
                      data-size="large"
                      data-lang="en">
                        Follow Rocket Romeo
                    </a>
                    </center>
                </p>                    
            </div>  
        </div>        
    </div>
</div>
<div id="spike-wall"></div>