<div id="wrapper" class="wrapper-scroll">
    <div class="content">
        
        <div class="section" id="opener">
            <center><br/>
                <img src="{{{data.base_url}}}public/image/brand.png" />
                <h3 class="tagline">Out to save Juliet</h3><br/>
                <img src="{{{data.base_url}}}public/image/romeo.png" />
                <a href="" id="playstore">
                     <img src="{{{data.base_url}}}public/image/playstore.png" />
                </a><br/>
                <a class="twitter-follow-button"
                  href="https://twitter.com/halftspgames"
                  data-show-count="false"
                  data-size="large"
                  data-lang="en">
                    Follow Rocket Romeo
                </a>
            </center>
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    The Dark Dragon troubled the residents of chicken-land. The last time he invaded their town
                    , Romeo and Juliet tried to fight against him. During the fight Juliet got a scare. The cure of
                    scare is the elixir from dragon's air castle. To save Juliet dragon travelled to the dark castle and 
                    stole the elixir. Romeo running down from the air castle. 
                </p>
             </div>         
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    The path downward from the dark castle is full of deadly bridges, Dragons and guards. Help
                    Romeo reach the ground safely, so that he can give the elixir to save juliet. 
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div> 
        </div>

        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    Slow the falling rate by switching on the rocket. Tap n hold to keep
                    Rocket on. 
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div> 
        </div>
            
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    Dodge the bridges, guards and small Dragons. Collect eggs for extra life in the game. 
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div> 
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    Compare score with simple Leaderboard. TOP 50 SCOREs and 
                    your global ranking.
                </p>                    
            </div>  
        </div>
        
        <div class="section">
            <div class="v-align">
                <img src="{{{data.base_url}}}public/image/screen1.png" class="img-screen" />
            </div> 
        </div>
        
        <div class="section">
            <div class="v-align">
                <p class="message slide-right">
                    Thank you for your visit.
                    <a href="" id="playstore">
                         <img src="{{{data.base_url}}}public/image/playstore.png" />
                    </a><br/>   
                    <center>
                    Follow us on Twitter.
                    <a class="twitter-follow-button"
                      href="https://twitter.com/halftspgames"
                      data-show-count="false"
                      data-size="large"
                      data-lang="en">
                        Follow Rocket Romeo
                    </a>
                    </center>
                </p>                    
            </div>  
        </div>        
    </div>
</div>
<div id="spike-wall"></div>